@import 'tailwindcss';

@theme {
  --font-serif: Jomolhari, serif;
  --font-sans: 'TWK Lausanne', system-ui, sans-serif;

  --radius-4xl: 2rem;

  /* morganBlue */
  --color-morganBlue-50: oklch(0.975 0.007 222.5157);
  --color-morganBlue-100: oklch(0.95 0.012 222.5157);
  --color-morganBlue-200: oklch(0.895 0.02 222.5157);
  --color-morganBlue-300: oklch(0.78 0.032 222.5157);
  --color-morganBlue-400: oklch(0.61 0.045 222.5157);
  --color-morganBlue-500: oklch(0.455 0.053 222.5157);
  --color-morganBlue-600: oklch(0.38 0.056 222.5157);
  --color-morganBlue-700: oklch(0.34 0.058 222.5157);
  --color-morganBlue-800: oklch(0.325 0.058 222.5157);
  --color-morganBlue-900: oklch(0.318 0.058 222.5157);
  --color-morganBlue-950: oklch(0.3124 0.057954 222.5157); /* original */

  /* morganBrown */
  --color-morganBrown-50: oklch(0.98 0.025 30.47);
  --color-morganBrown-100: oklch(0.96 0.04 30.47);
  --color-morganBrown-200: oklch(0.92 0.06 30.47);
  --color-morganBrown-300: oklch(0.85 0.08 30.47);
  --color-morganBrown-400: oklch(0.75 0.095 30.47);
  --color-morganBrown-500: oklch(0.65 0.1 30.47);
  --color-morganBrown-600: oklch(0.52 0.1 30.47);
  --color-morganBrown-700: oklch(0.42 0.1 30.47);
  --color-morganBrown-800: oklch(0.34 0.098 30.47);
  --color-morganBrown-900: oklch(0.30 0.098 30.47);
  --color-morganBrown-950: oklch(0.2675 0.0984 30.47); /* original */

  /* morganGold */
  --color-morganGold-50: oklch(0.975 0.01 95);
  --color-morganGold-100: oklch(0.95 0.02 95);
  --color-morganGold-200: oklch(0.9 0.04 95);
  --color-morganGold-300: oklch(0.84 0.065 95);
  --color-morganGold-400: oklch(0.78 0.08 95);
  --color-morganGold-500: oklch(0.72 0.085 95); /* original */
  --color-morganGold-600: oklch(0.63 0.075 95);
  --color-morganGold-700: oklch(0.51 0.06 95);
  --color-morganGold-800: oklch(0.41 0.045 95);
  --color-morganGold-900: oklch(0.34 0.035 95);
  --color-morganGold-950: oklch(0.22 0.02 95);

  /* morganGreen */
  --color-morganGreen-50: oklch(0.97 0.008 155);
  --color-morganGreen-100: oklch(0.94 0.015 155);
  --color-morganGreen-200: oklch(0.88 0.025 155);
  --color-morganGreen-300: oklch(0.78 0.04 155);
  --color-morganGreen-400: oklch(0.65 0.055 155);
  --color-morganGreen-500: oklch(0.485 0.065 155); /* original */
  --color-morganGreen-600: oklch(0.42 0.06 155);
  --color-morganGreen-700: oklch(0.35 0.05 155);
  --color-morganGreen-800: oklch(0.29 0.04 155);
  --color-morganGreen-900: oklch(0.245 0.03 155);
  --color-morganGreen-950: oklch(0.18 0.02 155);

  /* morganOrange */
  --color-morganOrange-50: oklch(0.97 0.02 47.49);
  --color-morganOrange-100: oklch(0.94 0.04 47.49);
  --color-morganOrange-200: oklch(0.88 0.075 47.49);
  --color-morganOrange-300: oklch(0.805 0.115 47.49);
  --color-morganOrange-400: oklch(0.71 0.145 47.49);
  --color-morganOrange-500: oklch(0.5962 0.1595 47.49); /* original */
  --color-morganOrange-600: oklch(0.515 0.15 47.49);
  --color-morganOrange-700: oklch(0.43 0.128 47.49);
  --color-morganOrange-800: oklch(0.355 0.103 47.49);
  --color-morganOrange-900: oklch(0.3 0.078 47.49);
  --color-morganOrange-950: oklch(0.225 0.053 47.49);

  /* morganYellow */
  --color-morganYellow-50: oklch(0.985 0.022 88.49);
  --color-morganYellow-100: oklch(0.97 0.045 88.49);
  --color-morganYellow-200: oklch(0.94 0.088 88.49);
  --color-morganYellow-300: oklch(0.908 0.132 88.49);
  --color-morganYellow-400: oklch(0.88 0.158 88.49);
  --color-morganYellow-500: oklch(0.8575 0.1752 88.49); /* original */
  --color-morganYellow-600: oklch(0.765 0.165 88.49);
  --color-morganYellow-700: oklch(0.63 0.14 88.49);
  --color-morganYellow-800: oklch(0.51 0.11 88.49);
  --color-morganYellow-900: oklch(0.425 0.083 88.49);
  --color-morganYellow-950: oklch(0.275 0.05 88.49);

  /* morganMaroon */
  --color-morganMaroon-50: oklch(0.958 0.01 34.2);
  --color-morganMaroon-100: oklch(0.917 0.02 34.2);
  --color-morganMaroon-200: oklch(0.834 0.03 34.2);
  --color-morganMaroon-300: oklch(0.698 0.05 34.2);
  --color-morganMaroon-400: oklch(0.525 0.06 34.2);
  --color-morganMaroon-500: oklch(0.387 0.06 34.2);
  --color-morganMaroon-600: oklch(0.309 0.06 34.2);
  --color-morganMaroon-700: oklch(0.254 0.06 34.2);
  --color-morganMaroon-800: oklch(0.228 0.07 34.2);
  --color-morganMaroon-900: oklch(0.216 0.07 34.2);
  --color-morganMaroon-950: oklch(0.203 0.07 34.2); /* original */

  /* morganPink */
  --color-morganPink-50: oklch(0.97 0.02 340.5);
  --color-morganPink-100: oklch(0.941 0.05 340.5);
  --color-morganPink-200: oklch(0.882 0.09 340.5);
  --color-morganPink-300: oklch(0.823 0.14 340.5);
  --color-morganPink-400: oklch(0.765 0.17 340.5);
  --color-morganPink-500: oklch(0.732 0.17 340.5); /* original */
  --color-morganPink-600: oklch(0.643 0.15 340.5);
  --color-morganPink-700: oklch(0.523 0.12 340.5);
  --color-morganPink-800: oklch(0.422 0.1 340.5);
  --color-morganPink-900: oklch(0.354 0.07 340.5);
  --color-morganPink-950: oklch(0.226 0.04 340.5);
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}
